#Container-A {
    width: 600px;
    height: 600px;
    background: green;
    position: relative;
    margin: auto;
     
}
#Container-B {
    width: 200px;
    height: 200px;
    background: red;
    position:fixed;
}
#Container-C {
    width: 200px;
    height: 200px;
    background: blue;
    position: absolute;
    margin: 200px 0px;
}
#Container-D {
    width: 200px;
    height: 200px;
    background: orange;
    position: fixed;
    margin: 401px 0px;
}
#Start-B {
    font-size: 30px;
    font-family: unset;
    width: 100px;
    height: 100px;
    background: lightslategray;
    position: absolute;
    margin: 50px 245px;
}
#Stop-B{
    font-size: 30px;
    font-family: unset;
    width: 100px;
    height: 100px;
    background: lightslategray;
    position: absolute;
    margin: auto;
    margin: 50px 990px;
}
#Start-C {
    font-size: 30px;
    font-family: unset;
    width: 100px;
    height: 100px;
    background: lightslategray;
    position: absolute;
    margin: auto;
    margin: 250px 245px;
}
#Stop-C{
    font-size: 30px;
    font-family: unset;
    width: 100px;
    height: 100px;
    background: lightslategray;
    position: absolute;
    margin: auto;
    margin: 250px 990px
}
#Start-D{
    font-size: 30px;
    font-family: unset;
    width: 100px;
    height: 100px;
    background: lightslategray;
    position: absolute;
    margin: auto;
    margin: 450px 245px;
}
#Stop-D{
    font-size: 30px;
    font-family: unset;
    width: 100px;
    height: 100px;
    background: lightslategray;
    position: absolute;
    margin: auto;
    margin: 450px 990px;
}

